.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    border-radius: 24px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #00000048;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .category {
    padding: 12px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .button {
    background-color: #00ff2a6b;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
  }
