:root {
    --color-background: white;
    --color-on-background: black;
    --color-background-hover: #eee;
    --color-on-background-hover: black;
    --color-primary: hsl(123, 64%, 52%);
    --color-primary-disabled: #37d35e;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

.dark.root {
    color-scheme: dark;
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #68d337;
    --color-primary-disabled: #75d337;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

.shitty.root {
    --color-background: rgba(0, 0, 0, 0.7);
    --color-on-background: rgb(255, 255, 255);
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #3cd337;
    --color-primary-disabled: #37d351;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

html,
body,
.root {
    height: 100%;
}

.root {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-on-background);
}

.surface {
    background-color: var(--color-background);
    color: var(--color-on-background);
}

header,
main {
    display: grid;
    grid-template-columns: minmax(16rem, 1fr) minmax(16rem, 2fr) minmax(
            16em,
            1fr
        );
    column-gap: 2rem;
}

header.surface {
    padding: 0;
    display: flex;
    padding-inline: calc(25vw - 10rem);
    height: 4rem;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-radius: 5em;
    margin: 15px;
    margin-right: 7em;
    margin-left: 7em;
    margin-top: 15px;
}
@media screen and (min-width: 1366px) {
    header {
        display: grid;
        padding-inline: 0;
    }
}
header .logo {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
header .logo img {
    height: 3.5rem;
}
header .nav {
    flex: 1;
}

main {
    height: 0;
    flex: 1;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    column-gap: 2rem;
}
main > div {
    overflow-y: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}

input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}

/* Shitty */

.shitty .surface {
    padding: 1.5rem;
    border: 2px solid var(--color-on-background);;
}

.shitty header.surface {
    padding: 0 calc(25vw - 10rem);
    margin-bottom: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-on-background);
}

.shitty.root {
    padding: 1.5rem;
    background-image: url("/assets/april-background.jpg");
    background-size: cover;
}

.shitty main {
    column-gap: 1.5rem;
}

.toggle-shitty:not(:hover) img {
    display: none;
}
.btnform {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 6px;
	height: 34px;
	line-height: 40px;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	color: #00ff55;
	background-color: #ffffff;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.btnform:focus-visible {
	box-shadow: 0 0 0 2px #c2c2c2;
}
.btnform:hover {
	background-color: #DBE7F2;
}
.btnform:active {
	transform: scale(0.96);
}
.btnform:disabled {
	pointer-events: none;
	opacity: 0.65;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #fafafa;
}

.dropdown {
    position: relative;
    top: 50px;
    left: 45%;
    margin-top: 15px;
    width: 300px;
    height: 50px;
}

.dropdown::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    font-size: 1.2em;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 15px;
}

.dropdown .options {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .options {
    display: block;
}

.dropdown .options div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .options div:hover {
    background: #62baea;
    color: #fff;
}
